services:
  frontend:
    container_name: "frontend"
    image: "erizur/artpond-frontend:classic"
    env_file: "front.env"
    ports:
      - "3300:3000"
    depends_on:
      - "backend"
    restart: "unless-stopped"
    
  backend:
    container_name: "backend"
    image: "erizur/artpond:frontdeploy"
    env_file: back.env
    ports:
      - "8008:8080"
    depends_on:
      - "db"
    restart: "unless-stopped"

  db:
    container_name: "db"
    image: "postgis/postgis:17-3.5"
    env_file: db.env
    expose:
      - "5432"
    ports:
      - "5555:5432"
    volumes:
      - "/var/lib/artpond/postgres-data:/var/lib/postgresql/data"
    restart: "unless-stopped"
