services:
  backend:
    container_name: "backend"
    image: "erizur/artpond:latest"
    env_file: back.env
    ports:
      - "8008:8080"
    depends_on:
      - "db"
    restart: "unless-stopped"

  db:
    container_name: "db"
    image: "postgis/postgis:17-3.5"
    env_file: db.env
    expose:
      - "5432"
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - "/var/lib/artpond/postgres-data:/var/lib/postgresql/data"
    restart: "unless-stopped"
